<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Khanakhajana App</h1>
    <h2>This site is for food lovers</h2>
    <%= link_to "Sign Up Now!", "", class: "btn btn-lg btn-success" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>View Recipe as Guest User</h2>
    <h4>Browse and view recipe as guest user and signup later</h4>
    <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-small btn-warning" %></p>
  </div>
   <div class="col-lg-4">
    <h2>View Recipe as Guest User</h2>
    <h4>Browse and view recipe as guest user and signup later</h4>
    <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-small btn-warning" %></p>
  </div>
   <div class="col-lg-4">
    <h2>View Recipe as Guest User</h2>
    <h4>Browse and view recipe as guest user and signup later</h4>
    <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-small btn-warning" %></p>
  </div>
</div>